@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

label {
    margin-left: 5px;
}

legend {
    background-color: #f4bb00;
}

fieldset {
    margin: auto;
    width: 95%;
}

input[type="submit"] {
    margin-top: 15px;
    margin-left: 20px;
    width: 100px;
}

h1 {
    margin-left: 15px;
}